#실제 사용시 파일명을 .env로 바꾸고, 예시값을 본인 API Key로 바꿔서 사용하세요.

NEWSAPI_KEY=8a69271b8fc9464cafc243ab84551436
EXIM_API_KEY=uqfUDPbZBPRLCNPO4NCuZLt6JVYDGXZ6
GROQ_API_KEY=여기에 본인 GROQ API Key를 입력하세요
FRED_API_KEY=e825a44ca05e4ce7989869155f87d876
ECOS_API_KEY=CMSMO092GNTF3TS3YL61
KRX_ID=여기에 본인 KRX 아이디를 입력하세요    
KRX_PW=여기에 본인 KRX 비밀번호를 입력하세요
